tr{
    text-align: center
}
.btn-group{
    display: inline-flex;
}
.right{
    float: right;
}
.pm-btn{
    margin: 5px 0px;
}
.bs-margin{
    margin: 0px 2px;
}
.bs-row{
    padding: 2px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
thead > tr{
    background: black;
}
tr >th{
    color: white;
    padding: 10px;
    margin: 0px;
    vertical-align: middle;
    min-width: 100px;
}

.app-black{
    width: 150px;
    height: 200px;
    background: orange;
}
.m-scroll-top {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 40px;
    right: 20px;
    cursor: pointer;
    text-align: center;
    display: block;
    padding-top: 9px;
    z-index: 110;
    border-radius: 100%;
    background: rgb(170, 43, 43);
}
.app-pr{
    padding: 0px 10px;
}
.app-mr{
    text-align: right;
    display: inline-block;
}