<div id="m_scroll_top" class="m-scroll-top" data-toggle="modal" data-target=".bs-add-vacation">
    <i class="fa fa-plus"></i>
</div>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>نوع الاجازة</th>
                <th>تبدأ من تاريخ</th>
                <th>تنتهي الي تاريخ</th>
                <th>تاريخ التسجيل</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="vacations.length==0">
                <td colspan="6">لا توجد اي بيانات </td>
            </tr>
            <tr *ngFor="let vacation of vacations | paginate: { itemsPerPage: 10, currentPage: di } | slice:0:80 as total; index as i;">
                <td>{{ i+1 }}</td>
                <td>{{vacation.name}}</td>
                <td>{{vacation.start | date:'dd/MM/yyyy'}}</td>
                <td>{{vacation.end | date:'dd/MM/yyyy'}} </td>
                <td>{{vacation.created_at | date:'dd/MM/yyyy'}}</td>
                <td>

                    <div class="btn-group">
                        <button type="button" class="bs-margin btn btn-danger" data-toggle="modal" data-target=".bs-example-modal-sm" (click)="confirmSelection(vacation)">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true">حذف</span>
                        </button>
                        <button class="bs-margin btn btn-info" data-toggle="modal" data-target=".bs-edit-vacation" (click)="confirmSelection(vacation)">
                            <span class="glyphicon glyphicon-geer" aria-hidden="true">تعديل</span>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="di = $event"></pagination-controls>

   
    <div class="modal fade bs-add-vacation" tabIndex="-1" role="dialog" aria-labelledby="bsAddvacation" dir="rtl">
        <ns-root [fields]="fields" (nelected)="addVacation($event)"></ns-root>
    </div>

    <div class="modal fade bs-edit-vacation" tabIndex="-1" role="dialog" aria-labelledby="bsEditable" dir="rtl">
        <form class="form-horizontal" (ngSubmit)="updateVacation(curr_vacation)">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="edtModal">تعديل</h4>
                    </div>
                    <div class="modal-body">
                        <div class="bs-row form-group">
                            <label for="inputname" class="col-sm-2 control-label">النوع</label>
                            <div class="col-sm-8">
                                <input type="text" required id="s_name" name="s_name" [(ngModel)]="curr_vacation.name" required class="form-control" placeholder="نوع الأجازة">
                            </div>
                        </div>

                        <div class="bs-row form-group">
                            <label for="inputdescription" class="col-sm-2 control-label">تاريخ البدأ</label>
                            <div class="col-sm-8">
                                <input type="date" required class="form-control" placeholder="تاريخ البدأ" name="start" required [(ngModel)]="curr_vacation.start">
                            </div>
                        </div>
                        <div class="bs-row form-group">
                            <label for="inputdescription" class="col-sm-2 control-label">تاريخ الانتهاء</label>
                            <div class="col-sm-8">
                                <input type="date" required class="form-control" placeholder="تاريخ الانتهاء" name="end" required [(ngModel)]="curr_vacation.end">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row form-group">
                            <div class="col-sm-offset-2 col-sm-8">
                                <button type="submit" class="btn btn-primary">تعديل</button>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-offset-2 col-sm-8">
                                <button type="button" class="btn btn-danger" id="cancleEditable" data-dismiss="modal">الغاء</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
    <div class="modal fade bs-example-modal-sm" tabIndex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header bg-warning">
                    <h4 class="modal-title" id="myModalLabel">تحذير</h4>
                </div>
                <div class="modal-body">
                    هل انت متأكد من حذف هذا نوع الأجازة؟
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="cancleModal" data-dismiss="modal">الغاء</button>
                    <button type="button" class="btn btn-danger" (click)="deleteVacation()">حذف</button>
                </div>
            </div>
        </div>
    </div>
